<div class="checkbox">
    <input type="checkbox" name="<%= locals.checkbox.name %>" <% if (locals.checkbox.checked) { %>checked<% } %> id="<%= locals.checkbox.name %>">
    <span class="checkmark"></span>
</div>