<header id="header">
    <ul class="header-inner">
        <div class="title">
            <li><a href="/">DMDb</a></li>
        </div>
        <div class="toggle">
            <li><a href="javascript:void(0);"><span></span></a></li>
        </div>
        <div class="navs">
            <li><a href="/impulse" target="_blank">Impulse</a></li>
            <li><a class="bold" href="/<% if (locals.panel) { %>panel/logout<% } else { %>panel<% } %>"><% if (locals.panel) { %>Logout<% } else { %>Web Panel<% } %></a></li>
        </div>
    </ul>
</header>

<div class="background"></div>
<div class="shadow"></div>