<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="google-site-verification" content="h47lypzqoXsLJtC1jGuI2KEdrrMym0fAn5wjiwKKR7k" />

    <meta name="author" content="Dumplings" />
    <meta name="description" content="The best Discord bot that gives you quick and detailed information about movies from IMDb. Add the bot now and get started." />
    <meta name="keywords" content="IMDb, discord, discordapp, bot, bots, movie, title, film, search, top, ratings, movies, films, id, top, dmdb, database, quick, simple, poster" />

    <meta property="og:title" content="The Discord Movie Database (DMDb)" />
    <meta property="og:description" content="The best Discord bot that gives you quick and detailed information about movies from IMDb. Add the bot now and get started." />

    <link rel="icon" type="image/png" sizes="32x32" href="/public/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="public/img/favicon-16x16.png">

    <title><% if (locals.panel) { %>Panel - <% } %>Discord Movie Database (DMDb)</title>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/public/css/main.min.css" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
</head>