<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Dumplings" />
    <meta name="description" content="Get information on your favourite movies, series and celebrities from IMDb." />
    <meta name="keywords" content="IMDb, discord, discordapp, bot, bots, movie, title, film, search, top, ratings, movies, films, actor, id, top, ratings" />

    <meta property="og:title" content="Discord Movie Database (DMDb)" />
    <meta property="og:description" content="Get information on your favourite movies, series and celebrities from IMDb." />
    <meta property="og:image" content="/public/img/logo.png" />

    <title>Discord Movie Database (DMDb)</title>
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/public/css/main.min.css" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>