@font-face {
    font-family: Whitney;
    font-style: normal;
    font-weight: 500;
    src: url(https://discordapp.com/assets/e8acd7d9bf6207f99350ca9f9e23b168.woff);
}
@font-face {
    font-family: Whitney;
    font-style: medium;
    font-weight: 600;
    src: url(https://discordapp.com/assets/3bdef1251a424500c1b3a78dea9b7e57.woff);
}
@font-face {
    font-family: Whitney;
    font-style: bold;
    font-weight: 700;
    src: url(https://discordapp.com/assets/8e12fb4f14d9c4592eb8ec9f22337b04.woff);
}