body {
    margin: 0;
    background-color: #36393E;
    font-family: whitney, sans-serif;
    color: #C3C4C5;
}
p {
    margin: 0;
}

.messages {
    padding-left: 2%;
    padding-right: 2%;
}

.msg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 0;
    border-color: #3E4146;
    border-bottom-width: 1px;
}
.msg .avatar {
    margin-right: 20px;
}
.msg .avatar img {
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.msg .content .author > p {
    display: inline-block;
}
.msg .content .author .username {
    font-weight: 600;
    color: #2ecc71;
    cursor: pointer;
}
.msg .content .author .username:hover {
    text-decoration: underline;
}
.msg .content .author .timestamp {
    font-size: 12px;
    color: #5E6064;
}
.msg .content .text > p {
    line-height: 16.5px;
    margin-top: 6px;
    font-size: 15px;
}
.msg .content .text > img {
    margin-top: 6px;
}
.msg .content .text > p a {
    color: #0096cf;
    text-decoration: none;
}
.msg .content .text > p a:hover {
    text-decoration: underline;
}