<!DOCTYPE html>
<html lang="en-gb">
    <% include ../components/head %>

    <body>
        <% include ../components/header %>

        <div id="e404" class="e404">
            <h1>404 - Page Not Found</h1>
            <p>The page your were looking for was not found.</p>
        </div>

        <% include ../components/footer %>
        
        <script src="/public/js/main.js"></script>
    </body>
</html>