<!DOCTYPE html>
<html lang="en-gb">
    <% include ../components/head %>

    <body>
        <% include ../components/header %>

        <div id="docs" class="docs">
            <ul class="command-list">
                <li>
                    <a href="">Title</a>
                    <a href="">Search</a>
                    <a href="">Poster</a>
                    <a href="">Top</a>
                    <a href="">Info</a>
                    <a href="">Help</a>
                </li>
            <ul>
        </div>

        <% include ../components/footer %>
        
        <script src="/public/js/main.js"></script>
    </body>
</html>