<!DOCTYPE html>
<html lang="en-gb">
    <% include ../components/head %>

    <body>
        <% include ../components/header %>

        <div id="docs" class="docs page">
            <ul class="command-list">
                <li><a href="#title">Title</a></li>
                <li><a href="#search">Search</a></li>
                <li><a href="#poster">Poster</a></li>
                <li><a href="#top">Top</a></li>
                <li><a href="#info">Info</a></li>
                <li><a href="#help">Help</a></li>
            <ul>
        </div>

        <% include ../components/footer %>
        
        <script src="/public/js/main.js"></script>
    </body>
</html>