<!DOCTYPE html>
<html lang="en-gb">
    <% include ../components/head %>

    <body>
        <% include ../components/header %>

        <div id="home" class="home">
            <div class="title">
                <h1>The Discord Movie Database</h1>
                <p>Eiusmod in aliqua esse pariatur aliquip velit cillum et laboris Lorem. Nostrud ad adipisicing est excepteur cillum consectetur. Laborum mollit est commodo nulla ad ex pariatur.</p>
            </div>

            <div class="btns">
                <a href="/invite" class="btn btn-1">Invite</a>
                <a href="/guild" class="btn btn-2">Guild</a>
            </div>

            <div class="examples">
                <img src="/public/img/example1.png" alt="Example 1 (Black Panther)" class="example example-1">
                <img src="/public/img/example2.png" alt="Example 1 (Thor: Ragnarok)" class="example example-2">
            </div>
        </div>

        <% include ../components/footer %>
        
        <script src="/public/js/main.js"></script>
    </body>
</html>