<!DOCTYPE html>
<html lang="en-gb">
    <% include ../components/head %>

    <body>
        <% include ../components/header %>

        <div id="home" class="home">
            <div class="title">
                <h1>The Discord Movie Database</h1>
                <p>The Discord Movie Database bot gives you quick and detailed information about movies from IMDb. Add the bot now and get started straight away.</p>
            </div>

            <div class="btns">
                <a href="/invite" class="btn btn-1">Invite Bot</a>
                <a href="/guild" class="btn btn-2">Join Guild<span class="online"></span></a>
            </div>

            <div class="examples">
                <img src="/public/img/example-1.png" alt="Example 1 (Black Panther)" class="example example-1">
                <img src="/public/img/example-2.png" alt="Example 2 (Thor: Ragnarok)" class="example example-2">
            </div>
        </div>

        <% include ../components/footer %>

        <noscript class="no-js">
            <p>Please enable JavaScript to access all of the site's features.</p>
        </noscript>
        
        <script src="/public/js/main.js"></script>
    </body>
</html>