<!DOCTYPE html>
<html lang="en-gb">
    <% include ../components/head %>

    <body>
        <% include ../components/header %>

        <div id="stats" class="stats page">
            
        </div>

        <% include ../components/footer %>
        
        <script src="/public/js/main.js"></script>
    </body>
</html>