<!DOCTYPE html>
<html lang="en-gb">
    <% include includes/head %>
    <body>
        <div class="content">
            <div class="title">
                <h1>DMDb</h1>
                <h3>The Discord Movie Database.</h3>
            </div>

            <div class="not-logged-in login">
                <p>You're not logged in.</p>
                <a class="btn btn-login">Login With Discord</a>
                <h3>OR</h3>
                <a class="btn btn-invite">Invite Bot</a>
            </div>
        </div>
        
        <script>
            // Global EJS Variables:
            
        </script>
        <script src="/assets/js/main.js"></script>
    </body>
</html>