<!DOCTYPE html>
<html lang="en-gb">
    <% include includes/head %>
    <body>
        <% include includes/header %>
        
        <div class="home">
            <div class="content">
                <div class="title">
                    <h1>The IMDb Discord Bot</h1>
                    <p>Get information on your favourite movies, series and celebrities from the Internet Movie Datbase.</p>
                </div>
                <div class="buttons">
                    <a class="home-button" href="#">Invite</a>
                    <a class="home-button" href="#">Server</a>
                </div>
            </div>
            <div class="overlay"></div>
            <div class="background"></div>
        </div>
        
        <script>
            // Global EJS Variables:
            
        </script>
        <script src="assets/js/main.js"></script>
    </body>
</html>