<!DOCTYPE html>
<html lang="en-gb">
    <% include includes/head %>
    <body>
        <% include includes/header %>
        
        <div class="home">
            <div class="content">
                <h1>IMDb Discord Bot</h1>
                <p>Get information on your favourite movies, series and celebrities from IMDb.</p>
            </div>
            <div class="background"></div>
            <div class="overlay"></div>
        </div>
        
        <script>
            // Global EJS Variables:
            
        </script>
        <script src="assets/js/main.js"></script>
    </body>
</html>