<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="DumplingsWithToads">
        <meta name="description" content="IMDb Discord Bot">
        <meta name="keywords" content="IMDb, discord, discordapp, bot, bots, movie, title, film, search, top, ratings, movies, films">
        <title>IMDb Discord Bot</title>
        <link rel="stylesheet" type="text/css" href="assets/css/font.css">
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    </head>
    <body>
        <div class="messages">
            <div class="msg">
                <div class="avatar">
                    <img src="https://cdn.discordapp.com/avatars/148899081304014848/bdb11a220d27f36e527aee75bdd5a248.jpg?size=128">
                </div>
                <div class="content">
                    <div class="author">
                        <p class="username">DumplingsWithToads</p>
                        <p class="timestamp">Today at 5:05 PM</p>
                    </div>
                    <div class="text">
                        <p>Have you seen Kong: Skull Island yet?</p>
                    </div>
                </div>
            </div>
            <div class="msg">
                <div class="avatar">
                    <img src="https://cdn.discordapp.com/avatars/115134128717955080/d69abf1e162e1b0d561fd7eaecf995cf.jpg?size=128">
                </div>
                <div class="content">
                    <div class="author">
                        <p class="username">Arraying</p>
                        <p class="timestamp">Today at 5:06 PM</p>
                    </div>
                    <div class="text">
                        <p>Never heard of it. What is it about?</p>
                    </div>
                </div>
            </div>
            <div class="msg">
                <div class="avatar">
                    <img src="https://cdn.discordapp.com/avatars/148899081304014848/bdb11a220d27f36e527aee75bdd5a248.jpg?size=128">
                </div>
                <div class="content">
                    <div class="author">
                        <p class="username">DumplingsWithToads</p>
                        <p class="timestamp">Today at 5:06 PM</p>
                    </div>
                    <div class="text">
                        <p>How have you not heard it!? xd. Can't be bothered to look it up.</p>
                        <p>Oh, wait.</p>
                        <p>!?title Kong: Skull Island</p>
                    </div>
                </div>
            </div>
            <div class="msg">
                <div class="avatar">
                    <img src="https://cdn.discordapp.com/avatars/223202904385912832/c636fbc24a76269df93c2f7d0921677a.jpg?size=128">
                </div>
                <div class="content">
                    <div class="author">
                        <p class="username">IMDb</p>
                        <p class="timestamp">Today at 5:06 PM</p>
                    </div>
                    <div class="text">
                        <img src="assets/img/embed.png">
                    </div>
                </div>
            </div>
            <div class="msg">
                <div class="avatar">
                    <img src="https://cdn.discordapp.com/avatars/115134128717955080/d69abf1e162e1b0d561fd7eaecf995cf.jpg?size=128">
                </div>
                <div class="content">
                    <div class="author">
                        <p class="username">Arraying</p>
                        <p class="timestamp">Today at 5:06 PM</p>
                    </div>
                    <div class="text">
                        <p>Sounds cool. I'll probably watch it when it's out on DVD.</p>
                    </div>
                </div>
            </div>
            <div class="msg">
                <div class="avatar">
                    <img src="https://cdn.discordapp.com/avatars/148899081304014848/bdb11a220d27f36e527aee75bdd5a248.jpg?size=128">
                </div>
                <div class="content">
                    <div class="author">
                        <p class="username">DumplingsWithToads</p>
                        <p class="timestamp">Today at 5:06 PM</p>
                    </div>
                    <div class="text">
                        <p>k</p>
                    </div>
                </div>
            </div>
            <div class="msg">
                <div class="avatar">
                    <img src="https://cdn.discordapp.com/avatars/115134128717955080/d69abf1e162e1b0d561fd7eaecf995cf.jpg?size=128">
                </div>
                <div class="content">
                    <div class="author">
                        <p class="username">Arraying</p>
                        <p class="timestamp">Today at 5:06 PM</p>
                    </div>
                    <div class="text">
                        <p>That bot looks pretty useful. How can I get it in my server?</p>
                    </div>
                </div>
            </div>
            <div class="msg">
                <div class="avatar">
                    <img src="https://cdn.discordapp.com/avatars/148899081304014848/bdb11a220d27f36e527aee75bdd5a248.jpg?size=128">
                </div>
                <div class="content">
                    <div class="author">
                        <p class="username">DumplingsWithToads</p>
                        <p class="timestamp">Today at 5:07 PM</p>
                    </div>
                    <div class="text">
                        <p><a href="https://discordapp.com/oauth2/authorize?client_id=223202904385912832&scope=bot&permissions=84992">https://discordapp.com/oauth2/authorize?client_id=223202904385912832&scope=bot&permissions=84992</a></p>
                    </div>
                </div>
            </div>
            <div class="msg">
                <div class="avatar">
                    <img src="https://cdn.discordapp.com/avatars/115134128717955080/d69abf1e162e1b0d561fd7eaecf995cf.jpg?size=128">
                </div>
                <div class="content">
                    <div class="author">
                        <p class="username">Arraying</p>
                        <p class="timestamp">Today at 5:07 PM</p>
                    </div>
                    <div class="text">
                        <p>Thx</p>
                    </div>
                </div>
            </div>
        </div>
        
        <script src="assets/js/main.js"></script>
    </body>
</html>