.home-button {
    display: block;
    width: 150px;
    line-height: 42px;
    text-decoration: none;
    color: $white;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: Montserrat;
    border-style: solid;
    border-width: 2px;
    border-color: $white;
    transition: all .3s ease-in-out;
    &:hover {
        background-color: rgba($white, .25);
    }
}