header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $primary-black;
    font-family: Montserrat;
    height: $header-height;
    z-index: 999;
}
header .header-inner {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    max-width: $header-inner-width;
    
    > div li a {
        display: block;
        line-height: $header-height;
        width: $header-nav-width;
        text-align: center;
        color: $primary-white;
        text-decoration: none;
        font-size: 15px;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: color $header-nav-trans-delay ease-in-out;
        &:hover {
            color: $primary-yellow;
        }
    }
    
    > .title {
        float: left;
        li a {
            font-weight: bold;
            font-size: $header-title-size;
            color: $primary-yellow;
            text-transform: none;
        }
    }

    > .toggle {
        float: right;
        display: none;
    }

    > .navs {
        float: right;
        li {
            float: left;
        }
    }
}