@import 'variables';

body {
    font-family: $font-stack;
    font-size: 15px;
    color: $light-grey;
    background-color: $dark-grey;
    padding-top: $header-height + 30px;
    margin: 0;
    line-height: 1;
    font-weight: 400;
}
li, ul, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.no-js {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 22px;
    font-weight: 700;
    font-size: 17px;
    background-color: $really-dark-grey;
}

@import 'components/page';
@import 'components/background';
@import 'components/header';
@import 'components/sidebar';
@import 'components/footer';

@import 'pages/home';
@import 'pages/panel';
@import 'pages/404';