#docs.docs {
    
    .command-list {
        width: 125px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        border-top: 5px solid $light-grey;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
        padding: 7px 0;

        li a {
            display: block;
            width: 100%;
            padding: 7px;
            color: $really-light-grey;

            &:before {
                content: '#';
                color: $light-grey-blue;
                font-weight: 700;
                margin-right: 3px;
            }
        }
    }
}