.home {
    margin-top: 60px;
    padding: 0 5%;

    .title {
        text-align: center;
        max-width: 675px;
        margin: 0 auto;

        h1 {
            font-size: 34px;
            margin-bottom: 13px;
            color: $white;
        }

        p {
            font-size: 16px;
            line-height: 19px;
        }
    }

    .btns {
        margin-top: 40px;
        display: flex;
        justify-content: center;

        .btn {
            display: block;
            line-height: 43px;
            width: 220px;
            border-radius: 15px;
            margin: 0 15px;
            color: $dark-grey;
            text-decoration: none;
            text-align: center;
            background-color: $really-light-grey;
            font-weight: 700;
            
            @include shadow-hover;
        }

        .btn-2 {
            background-color: $primary-yellow;
            color: $white;

            .online {
                display: none;
                font-size: 12px;
                font-weight: 600;
                color: $really-light-grey;
                margin-left: 3px;
            }
        }
    }

    .examples {
        margin-top: 95px;
        display: flex;
        justify-content: center;

        .example {
            width: 365px;
            height: 100%;
            display: block;
            border-radius: 3px;

            @include shadow-hover;
        }

        .example-2 {
            margin-top: 73px;
            margin-left: -205px;
            z-index: 1;
        }
    }
}

@media screen and (max-width: 575px) {
    .home .examples {
        .example {
            width: 300px;
        }
    }
}

@media screen and (max-width: 525px) {
    .home {
        margin-top: 40px;

        .examples {
            margin-top: 75px;
            
            .example-1 {
                display: none;
            }
    
            .example-2 {
                margin: 0;
            }
        }
    }
}