#panel.panel {
    max-width: 660px;
    padding: 25px;
    border-radius: 30px;
    margin-top: 10px auto;
    
    .hello {
        h1 {
            font-size: 29px;
            color: $white;

            .username {
                color: $primary-yellow-light;
            }
        }

        p {
            margin-top: 15px;
        }
    }
    
    .guilds {
        width: 100%;
        margin-top: 35px;

        .guild {
            background-color: rgba($really-dark-grey, 0.65);
            border-radius: 25px;
            box-shadow: $bottom-shadow-large;

            &:not(:last-child) {
                margin-bottom: 25px;
            }

            .top {
                display: flex;
                align-items: center;
                padding: 8px;
                
                .icon {
                    display: block;
                    width: 34px;
                    height: 34px;
                    border-radius: 50%;
                }

                .name {
                    margin-left: 10px;
                    font-size: 18px;
                    color: $white;
                }

                .arrow {
                    margin-left: auto;
                    margin-right: 16px;
                    font-size: 20px;
                    color: $really-light-grey;

                    &:hover {
                        color: $white;
                    }
                }
            }

            .settings {
                border-style: solid;
                border-width: 1px 0px;
                border-color: $primary-yellow;
                padding: 10px;

                .input {
                    display: flex;
                    align-items: center;

                    p, label {
                        margin-right: 6px;
                        font-size: 14px;
                        font-weight: 600;
                    }

                    $input-size: 21px;

                    input {
                        border-radius: 11px;
                        border: 1px solid $light-grey;
                        background-color: $really-light-grey;
                        outline: 0;
                        padding: 0px 8px;
                        line-height: $input-size;
                        font-family: $font-stack;
                        font-weight: 600;
                        font-size: 13px;

                        transition: border .3s ease-in-out;
                        &:focus {
                            border-color: $primary-yellow;
                        }
                    }

                    input[type="checkbox"] {
                        height: $input-size;
                    }
                }

                .response {
                    margin: 0;
                    font-size: 14px;
                    font-weight: 600;
                    font-style: italic;
                    line-height: 20px;
                }
            }

            .bottom {
                .btns {
                    display: flex;
                    justify-content: center;
                    
                    .btn {
                        line-height: 32px;
                        width: 125px;
                        border: 0;
                        margin: 8px;
                        border-radius: 5px;
                        background-color: $really-light-grey;
                        color: $really-dark-grey;
                        font-weight: 700;
                        cursor: pointer;
                        font-family: $font-stack;

                        @include shadow-hover;
                    }

                    .btn-2 {
                        background-color: $primary-yellow;
                        color: $white;
                    }
                }
            }

            .hidden {
                display: none;
            }
        }

        .guild.toggled {
            .top .arrow {
                transform: rotate(180deg);
            }

            .hidden {
                display: block;
            }
        }
    }
}