<head>
    <meta charset="UTF-8" />

    <meta name="author" content="Dumplings" />
    <meta name="description" content="Get information on your favourite movies, series and celebrities from IMDb." />
    <meta name="keywords" content="IMDb, discord, discordapp, bot, bots, movie, title, film, search, top, ratings, movies, films, actor, id, top, ratings" />

    <meta property="og:title" content="Dumplings" />
    <meta property="og:description" content="Get information on your favourite movies, series and celebrities from IMDb." />
    <meta property="og:image" content="https://pbs.twimg.com/media/DTNBmdSX0AYmu-V.jpg" />

    <title>Discord Movie Database</title>

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/assets/css/main.min.css" />

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>