<head>
    <meta charset="UTF-8">
    <meta name="author" content="DumplingsWithToads">
    <meta name="description" content="IMDb Discord Bot">
    <meta name="keywords" content="IMDb, discord, discordapp, bot, bots, movie, title, film, search, top, ratings, movies, films">
    <title>IMDb Discord Bot</title>
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>