<header class="header">
    <ul class="header-inner">
        <div class="title">
            <li><a href="#">IMDb</a></li>
        </div>
        <div class="toggle">
            <li><a href="#"><span></span></a></li>
        </div>
        <div class="navs">
            <li><a href="#">Home</a></li>
            <li><a href="#">Commands</a></li>
            <li><a href="#">Panel</a></li>
        </div>
    </ul>
</header>